
# build and metadata directories
build/
build.pc/
build.arm/
.codelite/
staging/
.kdev4/
cmake-build-*/
.clang/
.idea/

# IDE project files
*.kdev4
*.code-workspace
.directory
send_to_board.sh
ads1262-util.kdev4
ads1262-util.workspace
arm926ejs-gcc4.toolchain
gcc493.toolchain
gcc7.toolchain
